@model ProductDetailsBindingModel

<h2>Информация о типе товара</h2>

<form enctype="multipart/form-data" asp-action="ManageProduct" method="post">
	<input readonly hidden asp-for="Id">

	<div>
		<label asp-for="Country">Код страны (две буквы)</label>
		<input asp-for="Country">
		<span asp-validation-for="Country"></span>
	</div>

	<div>
		<label asp-for="Model">Модель</label>
		<input asp-for="Model">
		<span asp-validation-for="Model"></span>
	</div>

	<div>
		<label asp-for="Description">Описание</label>
		<input asp-for="Description">
	</div>

	<div>
		<label asp-for="Price">Цена</label>
		<input asp-for="Price">
		<span asp-validation-for="Price"></span>
	</div>

	@if(Model.CpuDetails != null)
	{
		@Html.EditorFor(m => m.CpuDetails!);
	}
	else if(Model.GpuDetails != null)
	{
		@Html.EditorFor(m => m.GpuDetails!);
	}
	else if(Model.RamDetails != null)
	{
		@Html.EditorFor(m => m.RamDetails!);
	}

	<div class="galery">
		<h2>Галерея</h2>
		@if(Model.Pictures.Count == 0)
		{
			<p>Здесь пока что пусто</p>
		}
		@foreach (ProductPicture picture in Model.Pictures)
		{
			<button>Вправо</button>
			<button>Влево</button>
			<img src=@($"{ProductPicture.PATH}{picture.FileName}") alt="Картинка" class="order-@picture.OrderNumber">
			<button asp-action="deletePhoto" asp-route-id="@picture.Id">Удалить фотку</button>
		}
	</div>

	<div>
		<h2>Загрузите новую фотку</h2>
		<input asp-for="NewPhotos" type="file" multiple>
		<span asp-validation-for="NewPhotos"></span>
	</div>

	<button type="submit">Сохранить</button>
</form>

<script src='@Url.Content("~/lib/jquery/dist/jquery.min.js")' type='text/javascript'></script>    
<script src='@Url.Content("~/lib/jquery-validation/dist/jquery.validate.min.js")' type='text/javascript'></script>
<script src='@Url.Content("~/lib/jquery-validation/dist/additional-methods.min.js")' type='text/javascript'></script>
<script src='@Url.Content("~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min")' type='text/javascript'></script> 