@using YandexStaticMap;
@using NetTopologySuite.Geometries;
@inject IConfiguration _config
@model List<Store>
@{
    List<Point> coordinatesOfStores = Model.Select(e => e.Coordinates).ToList();
    string imageSrc = YandexStaticMapTools.GenerateSrcAttributeForMap(coordinatesOfStores, _config);
}

<div class="container-sm px-0 mx-0">
    <div class="row px-0 mx-0 justify-content-center">
        <div class="col-3 text-center">
            <a asp-action="AddStore" class="btn btn-primary">Добавить филиал</a>
        </div>
    </div>

    <div class="row px-0 mx-0">
        <div class="col-xs-12 col-xl-7 px-0 mx-0">
            <table id="Users" class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Название</th>
                        <th scope="col">Адрес</th>
                        <th scope="col">Расписание</th>
                        <th scope="col">Изменить</th>
                        <th scope="col">Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Store store in Model)
                    {
                        <tr>
                            <th scope="row">@store.Id</th>
                            <th scope="row">@store.Name</th>
                            <th scope="row">@store.Address</th>
                            <th scope="row">с @store.OpeningTime до @store.ClosingTime</th>
                            <th scope="row"><a class="btn btn-default" asp-action="ChangeStoreInfo" asp-route-id="@store.Id">Изменить</a></th>
                            <th scope="row"><a class="btn btn-danger" asp-action="DeleteStore" asp-route-id="@store.Id">Удалить</a></th>
                        </tr>    
                    }
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-xl-5 mx-12">
            <img src="@imageSrc" class="w-100">
        </div>
    </div>
</div>

