@model CatalogBindingModel
@{
    ViewData["Title"] = "Товары";
}
@section Stylesheets {
    <link rel="stylesheet" href="~/css/Home/Catalog.css" asp-append-version="true" />
}

<div class="container">
    
    <div class="container-fluid px-0 mb-4">
        <form method="get" asp-controller="Home" asp-action="Catalog">
            <div class="container-fluid px-0">
                @Html.EditorFor(m => m.Filter)

                @if(Model.Filter is CatalogCpuFilter cpuFilter)
                {
                    @Html.EditorFor(m => cpuFilter)
                }
                else if(Model.Filter is CatalogGpuFilter gpuFilter)
                {
                    @Html.EditorFor(m => gpuFilter)
                }
                else if(Model.Filter is CatalogRamFilter ramFilter)
                {
                    @Html.EditorFor(m => ramFilter)
                }

                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Применить</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    @foreach (CatalogItem product in Model.CatalogItems)
    {
        <div class="row mb-4" storeId="@ViewBag.StoreId" productId="@product.Id">
            <div class="col-12 col-sm-3" style="max-width: 300px;">
                <img class="img-thumbnail" src="@product.PictureSrc" alt="Картинка">
            </div>
            <div class="col-12 col-sm-6">
                <div class="product-info">
                    <span>
                        <mark>
                            <a asp-action="ViewProduct" style="text-decoration: none;" asp-route-category=@ViewBag.Category asp-route-storeId=@ViewBag.StoreId asp-route-id=@product.Id>@product.ToString()</a>
                        </mark>
                    </span>
                </div>
            </div>
            <div class="col-12 col-sm-3">
                <div class="product-price">
                    <span>@product.Price руб.</span>
                </div>
                <div class="mt-4">
                    <button class="btn btn-primary">Купить</button>
                </div>
            </div>
            <div class="offset-sm-3">
                <button class="link-primary" asp-action="ProductInStores" asp-route-categoryId="@Model.Filter.filterType" asp-route-productId="@product.Id">В магазинах</button>
            </div>
        </div>
    }
</div>