@model CatalogBindingModel
@{
    ViewData["Title"] = "Товары";
}
@section Stylesheets {
    <link rel="stylesheet" href="~/css/Home/Catalog.css" asp-append-version="true" />
}

<div class="container">
    
    <form method="get" asp-controller="Home" asp-action="Catalog">
        @Html.EditorFor(m => m.Filter)

        @if(Model.Filter is CatalogCpuFilter cpuFilter)
        {
            @Html.EditorFor(m => cpuFilter)
        }
        else if(Model.Filter is CatalogGpuFilter gpuFilter)
        {
            @Html.EditorFor(m => gpuFilter)
        }
        else if(Model.Filter is CatalogRamFilter ramFilter)
        {
            @Html.EditorFor(m => ramFilter)
        }

        <div class="row">
            <button class="btn btn-primary" type="submit">Применить</button>
        </div>
    </form>

    @foreach (CatalogItem product in Model.CatalogItems)
    {
        <div class="row mb-4" storeId="@ViewBag.StoreId" productId="@product.Id">
            <div class="col-12 col-sm-3" style="max-width: 300px;">
                <img class="img-thumbnail" src="@product.PictureSrc" alt="Картинка">
            </div>
            <div class="col-12 col-sm-6">
                <div class="product-info">
                    <p>
                        <mark>
                            <a asp-action="ViewProduct" style="text-decoration: none;" asp-route-category=@ViewBag.Category asp-route-storeId=@ViewBag.StoreId asp-route-id=@product.Id>@product.ToString()</a>
                        </mark>
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-3">
                <div class="product-price">
                    <p>@product.Price руб.</p>
                </div>
            </div>
        </div>
    }
</div>
